body {
  background-color: antiquewhite;
}

.img-carousel {
  background-color: rgb(55, 55, 83);  
  
}
.img-carousel__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.button-img__change {
  width: 30px;
  height: 60px;
  &:hover {
    box-shadow: 1px 1px 5px 1px white;
  }
}

.main-image__container {
  
}
.main-image {
  border-radius: 10px;
}
.carousel__dot-conatiner {
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.carousel__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: grey;
  &--active {
    background-color: greenyellow;
  }
}
.carousel__little-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.little__img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  transform: scale 0.3s;
  &--active {
    scale: 1.25;
  }
}
